body{
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
/*     HEADER     */
header{
    background: url('img/bgHead.png') no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 40px 63px;
}
nav{
    height: 40px;
    vertical-align: middle;
}
.left-nav{
    background: url('img/logo.png')no-repeat center;
    float: left;
    height: 40px;
    width: 53px;
}
.right-nav {
    float: right;
    height: 40px;
}
ul{
    display: block;
    list-style: none;
}
ul li {
    display: inline-block;
    padding: auto 0;
    padding-right: 60px;
}
li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.right-nav > ul li:last-child a {                         /*ТТУТУТУТУТУТУТ .right-nav > ul li:last-child а  */
    background: url("img/cart.png");
    display: block;
    height: 20px;
    padding-right: 0;
    width: 24px;
}

header .main{
    flex: 2;
}
header .main h3{
    font-size: 60px;
    margin-top: 200px;
    text-align: center;
}
header .main .description {
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    width: 560px;
}
header .arrow-down{
    margin: auto;
    height: 22px;
    width: 34px;
}